# General OS files
.DS_Store
Thumbs.db
desktop.ini

# VS Code / PlatformIO specific
.vscode/
.history/
.pio/
.platformio/
*.elf
*.bin
*.hex
*.code-workspace

# Arduino specific
*.ino.*
*.cpp.*
*.h.*
*.d
*.o

# --- STM32CubeIDE / Eclipse Metadata ---
.settings/
.metadata/
RemoteSystemsTempFiles/
.DS_Store
*.launch

# Build artifacts
Debug/
Release/
build/
bin/
obj/
*.a
*.out
*.map
*.lst
*.list
*.srec
*.sym
*.lss

# Logs and temporary files
*.log
*.tmp
*.bak
*.swp
*.swo

# Backup files, to be included
#*.zip
#*.tar.gz
#*.rar

